html, body {
    margin: 0;
    height: 100%;
}

#navbar {
    width: 100%;
    height: 10%;
    background-color: rgb(35,35,35);
    color:whitesmoke;
    display: inline-flex;
}
.navlog{
    font-size: xx-large;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: 'Segoe UI Light';
    height:100%;
}
.navcell{
    font-size: large;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: 'Segoe UI Light';
    height:100%;
    color: whitesmoke;
}
.navcell:hover{
    background-color: whitesmoke;
    color: rgb(35,35,35);
}
#content {
    width: 100%;
    height: 90%;
    background-image: url('tatralake.jpeg')
}

#content span {
    font-family: 'Segoe UI Semibold';
    font-size: 800%;
    color: whitesmoke;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(35,35,35);
    align-items: center;
}

#resumedlwindow {
    background-color: whitesmoke;
    font-family: 'Segoe UI Semibold';
    font-size: large;
    display: none;
    position: absolute;
    color:black;
    margin-left:35%;
    margin-top: 5%;
    max-width: 15%;
    padding:1%;
}
#resumedlwindow div {
    display: flex;
    background-color:seagreen;
    font-size: large;
    font-family: 'Segoe UI Semibold';
    color:whitesmoke;
    padding-left:3%; padding-right:3%;
}

#resumedlwindow div:hover{
    background-color:whitesmoke;
    font-size: large;
    color:black;
    border: solid;
}